section.advantages
  .advantages__container.container
    h2.visually-hidden Advantages
    ul.advantages__list
      li.advantages__item
        .advantages__wrapper
          h3.advantages__heading LEKKER ETEN
          p.advantages__text Eten gaat niet over indruk maken op mensen. Het gaat erom dat ze zich op hun gemak voelen. Dat is onze filosofie, goed eten in een goede sfeer.
        picture.advantages__picture
          source(type="image/webp" srcset="img/advantages/advantages-1@1x.webp 1x, img/advantages/advantages-1@2x.webp 2x" width="670" height="560")
          img.advantages__photo(src="img/advantages/advantages-1@1x.jpg" srcset="img/advantages/advantages-1@2x.jpg" width="670" height="560" loading="lazy" alt="Meat.")
      li.advantages__item
        .advantages__wrapper
          h3.advantages__heading TOFFE AMBIANCE
          p.advantages__text Het creëren van de juiste sfeer is zeer belangrijk voor ons. We nemen onze tijd om te zorgen dat alle elementen bijdragen aan de juiste setting.
        picture.advantages__picture
          source(type="image/webp" srcset="img/advantages/advantages-2@1x.webp 1x, img/advantages/advantages-2@2x.webp 2x" width="670" height="560")
          img.advantages__photo(src="img/advantages/advantages-2@1x.jpg" srcset="img/advantages/advantages-2@2x.jpg" width="670" height="560" loading="lazy" alt="Bear.")
      li.advantages__item
        .advantages__wrapper
          h3.advantages__heading LEKKERE COCKTAILS
          p.advantages__text Ons doel is simpel: een gastvrije plek bieden waar u kunt genieten van een onvergetelijke cocktail, een goed gesprek en lekker eten.
        picture.advantages__picture
          source(type="image/webp" srcset="img/advantages/advantages-3@1x.webp 1x, img/advantages/advantages-3@2x.webp 2x" width="670" height="560")
          img.advantages__photo(src="img/advantages/advantages-3@1x.jpg" srcset="img/advantages/advantages-3@2x.jpg" width="670" height="560" loading="lazy" alt="Cocktails.")
