section.feedback
  .feedback__container.container
    h2.visually-hidden Feedback
    button.feedback__button.feedback__button--prev.arrow-button.arrow-button--prev(type="button")
      svg.arrow-button__icon
        use(href="img/icons/sprite.svg#arrow")
    button.feedback__button.feedback__button--next.arrow-button.arrow-button--next(type="button")
      svg.arrow-button__icon
        use(href="img/icons/sprite.svg#arrow")
    .feedback__slider-container
      ol.feedback__list
        li.feedback__item
          blockquote.feedback__blockquote
            svg.feedback__quotation-marks
              use(href="img/icons/sprite.svg#quotation-marks")
            .lead Goede service, lekker eten, toffe ambiance
            .feedback__quote Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
            footer.feedback__cite Alain Heyndrickx
        li.feedback__item
          blockquote.feedback__blockquote
            svg.feedback__quotation-marks
              use(href="img/icons/sprite.svg#quotation-marks")
            .lead Ze bieden uitstekende service, heerlijk eten en een leuke sfeer.
            .feedback__quote Sed ac nibh volutpat, sagittis dolor vel, consequat metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed eros elit, tempor fermentum nisi imperdiet, placerat rhoncus lorem. Proin suscipit mi nulla, sit amet tempus erat bibendum a. Donec vitae justo dui. Morbi in posuere nulla, id molestie ipsum.
            footer.feedback__cite Emma Theodore
        li.feedback__item
          blockquote.feedback__blockquote
            svg.feedback__quotation-marks
              use(href="img/icons/sprite.svg#quotation-marks")
            .lead Ze bieden goede service en heerlijk eten.
            .feedback__quote Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam eget lobortis eros. Nunc in tristique augue. Duis a dignissim nulla. Vestibulum auctor diam eu pharetra commodo. In in tortor velit. Suspendisse in tellus est.
            footer.feedback__cite Nora Godfried
