head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="description" content="Hello, brand! Frontend test assignment.")

  <meta property="og:title" content="Hello, brand! Frontend test assignment.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://teihden.github.io/hello-brand-test/">
  <meta property="og:image" content="img/menu/interior-1@1x.jpg">

  title Hello, brand! Frontend test assignment

  link(rel="icon" href="favicon.ico" type="image/x-icon" sizes="any")
  link(rel="apple-touch-icon" href="apple-touch-icon.png" type="image/png" sizes="180x180")
  link(rel="manifest" href="site.webmanifest")

  link(rel="stylesheet" href="css/styles.min.css")
  script(src="js/index.js" type="module")
