section.hero
  .hero-container.container
    header.hero-header
      h1.hero__heading A bad day with lunch is better than a good day without it.
      p.hero-text Open everyday 6AM - 9PM
    .hero-wrapper
      button.hero__button.block-button#form-button(type="button") Reserve a table
      .page-body__social.social
        include ./social.pug
