section.hero
  .hero-container.container
    header.hero-header
      h1.hero__heading A bad day with lunch is better than a good day without it.
      p.hero-text Open everyday 6AM - 9PM
    .hero-wrapper
      button.hero__button.block-button(type="button") Reserve a table
      ul.hero__list
        li.hero__item
          a.hero__link(href="#no_scroll")
            svg.hero__social
              use(href="img/icons/sprite.svg#facebook")
            span.visually-hidden Facebook
        li.hero__item
          a.hero__link(href="#no_scroll")
            svg.hero__social
              use(href="img/icons/sprite.svg#instagram")
            span.visually-hidden Instagram
        li.hero__item
          a.hero__link(href="#no_scroll")
            svg.hero__social
              use(href="img/icons/sprite.svg#twitter")
            span.visually-hidden Twitter
        li.hero__item
          a.hero__link(href="#no_scroll")
            svg.hero__social
              use(href="img/icons/sprite.svg#youtube")
            span.visually-hidden Youtube
