.modal-message#modal-success-message
  .modal-message__inner.modal-message__inner--success(data-label="modal-inner")
    .modal-message__text.modal-message__text--success The message was successfully sent !
