.modal-message#modal-failure-message
  .modal-message__inner.modal-message__inner--failure(data-label="modal-inner")
    .modal-message__text.modal-message__text--failure The message was not sent, please try again !
