footer.page-body__footer.page-footer.container
  a.page-footer__logo-link(href="#no_scroll")
    img.page-footer__logo(src="img/page-footer/footer-logo.svg" width="269" height="55" alt="Company logo.")
  .page-body__social.social
    include ./social.pug
