ul.social__list
  li.social__item
    a.social__link(href="#no_scroll")
      svg.social__icon
        use(href="img/icons/sprite.svg#facebook")
      span.visually-hidden Facebook
  li.social__item
    a.social__link(href="#no_scroll")
      svg.social__icon
        use(href="img/icons/sprite.svg#instagram")
      span.visually-hidden Instagram
  li.social__item
    a.social__link(href="#no_scroll")
      svg.social__icon
        use(href="img/icons/sprite.svg#twitter")
      span.visually-hidden Twitter
  li.social__item
    a.social__link(href="#no_scroll")
      svg.social__icon
        use(href="img/icons/sprite.svg#youtube")
      span.visually-hidden Youtube
