.feedback {
  background-color: var(--purple);
}

.feedback__container {
  position: relative;
  margin: 0 auto;
  padding: 219px 90px 137px;

  display: flex;

  @media (max-width: 990px) {
    padding-block: 175px 110px;
  }

  @media (max-width: 700px) {
    padding: 140px 70px 88px;
  }
}

.feedback__button-container {
  position: absolute;
  right: 30px;
  left: 30px;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-57%);

  @media (max-width: 1000px) {
    right: 10px;
    left: 10px;
  }
}

.feedback__slider-container {
  max-width: 780px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 500px) {
    max-width: 261px;
  }
}

.feedback__list {
  display: flex;
}

.feedback__item {
  flex-shrink: 0;
  width: 100% !important;
  overflow-wrap: anywhere;
}

.feedback__blockquote {
  margin: 0;
}

.feedback__quotation-marks {
  width: 83px;
  height: 58px;
  margin: 0 0 34px 0;
}

.lead {
  color: var(--calico);
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 0 20px 0;

  @media (max-width: 700px) {
    font-size: 28px;
    line-height: 32px;
  }
}

.feedback__quote {
  color: var(--white);
  text-align: center;
  line-height: 40px;
  margin: 0 0 34px 0;

  @media (max-width: 700px) {
    line-height: 32px;
  }
}

.feedback__cite {
  color: var(--calico);
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 5.88px;
  text-transform: uppercase;

  @media (max-width: 700px) {
    font-size: 20px;
    line-height: 32px;
  }
}
