.feedback {
  background-color: var(--purple);
}

.feedback__container {
  position: relative;
  margin: 0 auto;
  padding-block: 219px 137px;
}

.feedback__button {
  position: absolute;
  top: 351px;
  width: 70px;
  height: 70px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition-property: color, opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  color: var(--white);

  &:hover {
    color: var(--calico);
  }

  &:active {
    color: var(--calico);
    opacity: 0.4;
  }

  &--left {
    left: 30px;

    &:hover {
      transform: translateX(-10px);
    }
  }

  &--right {
    right: 30px;
    transform: rotateY(180deg);

    &:hover {
      transform: rotateY(180deg) translateX(-10px);
    }
  }
}

.feedback__arrow {
  width: 70px;
  height: 70px;
}

.slider-container {
  max-width: 780px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.feedback__list {
  display: flex;
}

.feedback__item {
  min-width: 100%;
}

.feedback__blockquote {
  margin: 0;
}

.feedback__quotation-marks {
  width: 83px;
  height: 58px;
  margin: 0 0 34px 0;
}

.lead {
  color: var(--calico);
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.feedback__quote {
  color: var(--white);
  text-align: center;
  line-height: 40px;
  margin: 0 0 34px 0;
}

.feedback__cite {
  color: var(--calico);
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 5.88px;
  text-transform: uppercase;
}
