.hero {
  padding: 264px 0 265px;
  color: var(--white);
  background-color: var(--silver);
  background-image: url("../img/hero/background@1x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @supports (background-image: image-set(url(""))) {
    background-image:
      image-set("../img/hero/background@1x.webp" type("image/webp"),
        "../img/hero/background@1x.jpg" type("image/jpeg"));
  }

  @media (max-width: 1020px) {
    padding: 212px 0;
  }

  @media (max-width: 700px) {
    padding: 170px 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/background@2x.jpg");
    background-size: auto 901px;

    @supports (background-image: image-set(url(""))) {
      background-image:
        image-set("../img/hero/background@2x.webp" type("image/webp"),
          "../img/hero/background@2x.jpg" type("image/jpeg"));
    }
  }
}

.hero-container {
  margin: 0 auto;
}

.hero-header {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 24px;
  margin: 0 0 40px 0;
}

.hero__heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
  margin: 0;
  letter-spacing: 0.2px;

  @media (max-width: 1020px) {
    font-size: 44px;
    line-height: 61px;
  }

  @media (max-width: 700px) {
    font-size: 35px;
    line-height: 48px;
  }
}

.hero-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  margin: 0;

  @media (max-width: 700px) {
    font-size: 20px;
    line-height: 22px;
  }
}

.hero-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.hero__button {
  font-size: 18px;
  margin: 0 auto 0 0;

  @media (max-width: 700px) {
    font-size: 16px;
  }
}
