.interior {
  position: relative;
  color: var(--white);

  &::before {
    position: absolute;
    content: "";
    background-color: var(--purple);
    width: 100%;
    height: 66.5%;
    z-index: -10;

    @media (max-width: 700px) {
      height: 90%;
    }
  }
}

.interior__container {
  position: relative;
  padding-top: 68px;
  margin: 0 auto;
}

.interior__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px 0;
  gap: 30px;

  @media (max-width: 700px) {
    margin: 0 0 30px 0;
  }
}

.interior__header {
   max-width: 490px;
}

.interior__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 88px;
  margin: 0;

  @media (max-width: 1020px) {
    font-size: 38px;
    line-height: 70px;
  }

  @media (max-width: 700px) {
    font-size: 30px;
    line-height: 56px;
  }
}

.interior__text {
  font-size: 16px;
  line-height: 32px;
  margin: -8px 0 0 0;
}

.interior__button-container {
  display: flex;
  column-gap: 30px;
  margin: 37px 0 0 0;

  @media (max-width: 700px) {
    margin: 75px 0 0 0;
    position: absolute;
    top: 55%;
    right: 5px;
    left: 5px;
    justify-content: space-between;
  }
}

.interior__slider-container {
  max-width: 970px;
  overflow: hidden;
  margin: 0 auto;
}

.interior__list {
  display: flex;
}

.interior__item {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
}

.interior__picture {
  @media (max-width: 700px) {
    width: 90%;
  }
}

.interior__photo {
  @media (max-width: 700px) {
    width: 90%;
  }
}
