.page-header {
  max-width: 1170px;
  width: 100%;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.page-header__logo-link {
  margin: 0 135px 0 0;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.page-header__logo {
  vertical-align: middle;
}

.page-header__button {
  display: none;
}

.page-header__list {
  min-width: 454px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin: 0 153px 0 0;
}

.page-header__item {
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
}

.page-header__link {
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  transition-property: color, opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;

  &:hover {
    color: var(--calico);
    transform: translateY(10px);
  }

  &:active {
    color: var(--calico);
    opacity: 0.6;
  }
}

.page-header__phone {
  width: 24px;
  height: 24px;
  margin: 0 11px 0 0;
  vertical-align: middle;
}
