.page-header {
  width: 100%;
}

.page-header__navigation {
  display: flex;
  align-items: start;
  gap: 30px;

  @media (max-width: 1020px) {
    justify-content: space-between;
  }

  @media (max-width: 590px) {
    gap: 15px;
  }
}

.page-header__button {
  position: relative;
  z-index: 30;
  flex-shrink: 0;

  @media (max-width: 1020px) {
    margin: 3.5px 0 0 0;
  }
}

.page-header__logo-link {
  width: 269px;
  flex-shrink: 0;
  margin: 0 auto 0 0;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    outline: none;
    opacity: 0.7;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--calico);
  }

  &:active {
    opacity: 0.4;
  }

  @media (max-width: 1020px) {
    margin: 0;
  }

  @media (max-width: 590px) {
    width: 200px;
    margin: 7px 0 0 0;
  }
}

.page-header__logo {
  vertical-align: middle;
}

.page-header__links {
  width: 480px;
  margin: 0 0 0 10px;

  @media (max-width: 1020px) {
    display: none;
  }
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 46px;
  align-items: center;
  min-height: 55px;
}

.page-header__item {
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
}

.page-header__wrapper {
  display: none;
}

.page-header__link {
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  transition-property: color, opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  max-width: 120px;

  &:hover {
    outline: none;
    color: var(--calico);
    transform: translateY(10px);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    outline: 1px solid var(--calico);
  }

  &:active {
    color: var(--calico);
    opacity: 0.6;
  }

  &--phone {
    flex-shrink: 0;
    margin: 0 5px 0 auto;
    max-width: 200px;
    min-height: 55px;
    display: flex;
    align-items: center;

    @media (max-width: 1020px) {
      margin: 0;
    }

    @media (max-width: 590px) {
      display: grid;
      place-items: center;
      border: 1px solid var(--white);
      width: 48px;
      height: 48px;
      min-height: auto;
      padding: 0;
      border-radius: 50%;
      margin: 3.5px 0 0 0;

      &:hover {
        border-color: var(--calico);

        .page-header__phone {
          color: var(--calico);
        }
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        border-color: var(--calico);
      }

      &:active {
        border-color: var(--calico);
        opacity: 0.6;

        .page-header__phone {
          color: var(--calico);
        }
      }
    }
  }
}

.page-header__phone {
  width: 24px;
  height: 24px;
  margin: 16px 11px 0 0;
  vertical-align: middle;
  color: var(--calico);
  align-self: start;

  @media (max-width: 590px) {
    color: var(--white);
    margin: 0;
    align-self: center;
  }
}

.page-header__link-text {
  max-width: 124px;

  @media (max-width: 590px) {
    display: none;
  }
}
