.page-body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: $min-container-width;
  min-height: 100%;
  margin: 0;

  background-color: var(--white);
  color: var(--black);

  font-weight: 400;
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  line-height: 24px;
}

.page-body__header {
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 55px;
  z-index: 10;
}
