.page-footer {
  padding-inline: 30px 33px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  gap: 25px 73px;
}

.page-footer__logo-link {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    outline: none;
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    opacity: 0.7;
  }

  &:focus-visible {
    outline: none;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.page-footer__logo {
  vertical-align: middle;
}
