doctype html
html(lang="en")
  include ../includes/head.pug

  body.page-body
    include ../includes/page-header.pug

    main
      include ../includes/hero.pug
      include ../includes/menu.pug
      include ../includes/feedback.pug
      include ../includes/advantages.pug
      include ../includes/interior.pug
      include ../includes/contacts.pug

    include ../includes/page-footer.pug
