// Colors
$white: #ffffff;
$black: #000000;
$calico: #d3b47f;
$light-gray: #d3d3d3;
$purple: #3A4574;
$dark-purple: #2d3559;
$whisper: #e7e7e7;

// Gradient
$hero-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.51) 100%);

// Shadows
// $box-shadow: 0 5px 20px 0 rgb(0 0 0 / 7%);
// $box-shadow-button: 0 0 3px 0 #000, inset 0 1px 2px 0 rgb(255 255 255 / 50%);

// Widths
$min-container-width: 360px;

// Breakpoints
// $tablet-width: 800px;
// $desktop-width: 1200px;
