// Colors
$white: #ffffff;
$black: #000000;
$dark: #2e2e2e;
$calico: #d3b47f;
$light-gray: #d3d3d3;
$silver: #cccccc;
$gray: #808080;
$purple: #3a4574;
$dark-purple: #2d3559;
$whisper: #e7e7e7;

// Widths
$max-container-width: 1230px;
$min-container-width: 400px;

// Shadows
$form-shadow: 5px 10px 50px rgba(106, 107, 108, 0.4);
$message-success-shadow: 5px 10px 50px rgba(58, 69, 116, 0.7);
$message-failure-shadow: 5px 10px 50px rgba(211, 180, 127, 0.7);
