// Colors
$white: #ffffff;
$black: #000000;
$dark: #2e2e2e;
$calico: #d3b47f;
$light-gray: #d3d3d3;
$silver: #cccccc;
$gray: #808080;
$purple: #3a4574;
$dark-purple: #2d3559;
$whisper: #e7e7e7;

// Gradient
$hero-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.51) 100%);

// Widths
$max-container-width: 1230px;
$min-container-width: 360px;

// Breakpoints
// $tablet-width: 800px;
// $desktop-width: 1200px;
